@tailwind base;
@tailwind components;
@tailwind utilities;

.poke__types li::after {
  content: '\2022';
  padding: 0 2px;
}
li:last-child::after {
  content: '';
}
.detail__group {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
}
