@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  .poke__types li::after {
    content: '\2022';
    padding: 0 2px;
  }
  li:last-child::after,
  li:last-child::after {
    content: '';
  }
  .captured__titles {
    background: rgba(224, 224, 224, 0.3);
  }
  .nickname__none {
    color: rgba(51, 51, 51, 0.2);
  }
}

@layer components {
  .detail__group,
  .captured__none {
    @apply shadow-[0_8px_16px_4px_rgba(0,0,0,0.05)];
  }
  .capture__input {
    @apply placeholder:text-[#828282] placeholder:text-lg text-lg border border-[#828282] pl-2 py-2 rounded-lg w-full mb-2 outline-none;
  }
  .captured__mobile {
    @apply shadow-[0_8px_16px_4px_rgba(0,0,0,0.05)] md:shadow-none;
  }
}
